.banner {
    background-color: #ED7D31;
    padding: 10px;
    color: #fff;
    text-align: center;
}

.box {
    background-color: #F2F2F2;
    border: 1px solid #4C75C0;
    width: 45%;
    margin: 20px;
    box-shadow: 1px 1px 1px #333333;
}

.box-title {
    text-align: center;
    height: 50px;
    line-height: 50px;
}

.box-head {
    background-color: #843C0C;
    color: #fff;
    padding-left: 5px;
}

.box-bottom {
    text-align: center;
    height: 35px;
}

@media (max-width: 991px) {
    .box {
        width: 80%;
        margin: 20px auto;
    }
    .row{
        flex-direction: column!important;
    }
}
.row{
    flex-direction: row;
    display: flex;
}
.chart{
    width: 85%;
    height:200px;
}